

.sidebar {
  color: #fff; 
  height: 100vh;
  
}


.logo {
  padding: 16px;
  text-align: center;
}

.logo-icon img {
  max-width: 100%;
  height: auto;
  display: block;
  
}


.menu-bar {
  height: calc(100vh - 56px); 
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}


.toggle-theme-btn {
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}


.toggle {
  margin-left: 15px;
}




